<header class="top-navbar">
  
  <div class="navbar-actions">
    <div class="navbar-logo">
    <button
      mat-icon-button
      class="menu-button"
      (click)="toggleSideNavbar()"
      matTooltip="Menú"
    >
      <mat-icon>menu</mat-icon>
    </button>
    
        <img src="/icono.png" alt="Logo" />
        <h1>Taskwer</h1>
    </div>
    <div class="navbar-buttons">
        <h1 class="user-name">{{user?.firstName}} {{user?.lastName}}</h1>

        <button mat-icon-button  [matMenuTriggerFor]="userMenu" [matTooltip]="'Edicion de usuario'" class="options-button">
            <mat-icon>person</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="editUser()">
                <mat-icon>face</mat-icon>
                <span>Editar usuario</span>
            </button>

            <button mat-menu-item (click)="changePassword()">
                <mat-icon>password</mat-icon>
                <span>Editar password</span>
            </button>
            <button mat-menu-item class="mobile-logout" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>
        </mat-menu>

        <button mat-button class="logout-button" (click)="logout()">
            <mat-icon>logout</mat-icon><span>Salir</span>
        </button>
    </div>
  </div>
</header>