.top-navbar {
  align-items: center;
  display: inline;
}


@keyframes slideDown {
  from {
    top: -64px;
  }

  to {
    top: 0;
  }
}

.navbar-actions {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  margin-left: 5px;
  width: 50px;
  height: 50px;
}

.navbar-logo h1 {
  margin-left: 10px;
  font-size: 32px;
  font-weight: bold;
  color: #2563eb;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    color: #2563eb;
}

.navbar-buttons h1{
    font-weight: 600;
    margin-right: 5px;
}

.navbar-buttons mat-icon {
    color: #2563eb;
}

.mobile-logout {
  display: none;
}

/* Responsive - mobile */

@media (max-width: 768px) {
  .logout-button {
    display: none;
  }

  .mobile-logout {
    display: flex;
  }
}


@media (max-width: 430px) {
  
  .user-name {
    display: none;
  }
}