.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.login-content {
  width: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 1s ease,
    opacity 0.4s ease;
}

.login-container.logged-in .login-content {
  transform: translateX(100%);
  width: var(--sidebar-width);
  opacity: 0;
}

.side-panel-wrapper {
  width: 50%;
  flex-shrink: 0;
  overflow: hidden;
  transition: width 1s ease;

  background: linear-gradient(
    to right,
    #172a53,
    #2563eb
  );
}

.login-container.logged-in .side-panel-wrapper {
  width: var(--sidebar-width) !important;
}

.login-container.logged-in app-side-panel {
  transform: translateX(-100%);
  opacity: 0;

  transition:
    transform 0.6s ease,
    opacity 0.8s ease;
}

app-side-panel {
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
}

.login-container.logged-in app-side-panel {
  transform: translateX(-100%);
  opacity: 0;

  transition:
    transform 0.6s ease,
    opacity 0.8s ease;
}

.form-flipper {
  display: grid;
  place-items: center;
  perspective: 1200px;
}

.form-face {
  grid-area: 1 / 1;
  width: 100%;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  transition: transform 0.7s ease;
}

.form-front {
  transform: rotateY(0deg);
}

.form-back {
  transform: rotateY(180deg);
}

.form-flipper.flipped .form-front {
  transform: rotateY(-180deg);
}

.form-flipper.flipped .form-back {
  transform: rotateY(0deg);
}


/*  Responsive - Mobile */

@media (max-width: 768px) {

 .login-container {
    flex-direction: column;
    height: 100dvh;
    min-height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .side-panel-wrapper {
    width: 100%;
    height: 5dvh;
    min-height: 100px;
    max-height: 280px;
    flex-shrink: 0;
  }

  app-side-panel {
    width: 100%;
    min-width: 100%;
    height: 100%;
  }

   .login-content {
  width: 100%;
  min-width: 0;
  flex: 1;
  padding: 10px 20px 24px;
  box-sizing: border-box;

  align-items: center;
}

  .form-flipper {
    width: 100%;
    max-width: 420px;
    min-width: 0;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .form-face {
    width: 100%;
    min-width: 0;
  }

  .login-container.logged-in .side-panel-wrapper {
    width: 100%;
    height: 0;
    min-height: 0;
  }

  .login-container.logged-in .login-content {
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
  }

  .login-container.logged-in app-side-panel {
    transform: translateY(-100%);
    opacity: 0;
  }
}