<aside class="side-panel">
  <!-- después ponemos logo, contenido, etc. -->

  <div class="side-container">
     <h1>Taskwer</h1>
    <span class="side-text">Organizá tu día y dejá que tus objetivos florezcan. Priorizá, avanzá y completá cada tarea a tu propio ritmo.</span>
        <img src="/image-login.png" alt="Tasks"   />
<!--        
        <img src="/rama-4.png" alt="Tasks" class="rama4"  />
        <img src="/rama-3.png" alt="Tasks" class="rama3"  />
 -->
      
    <mat-chip class="chip" >
        <mat-icon fontSet="material-symbols-outlined" class="plant-icon">potted_plant</mat-icon>
        <span class="chip-text">Organizá. Completá. Crecé</span>
    </mat-chip>
  </div>
 
</aside>