@import 'tailwindcss';
@import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
  margin: 0;
  font-family: 'Geist', sans-serif;
}

body *:not(mat-icon) {
  font-family: 'Geist', sans-serif;
}

:root {
  --sidebar-width: 380px;
}

.mat-mdc-dialog-container {
  height: auto !important;
}