<h2 mat-dialog-title>Cambiar contraseña</h2>
<hr class="divider">
<mat-dialog-content>

  <form [formGroup]="passwordForm">

    <mat-form-field appearance="outline">
      <mat-label>Contraseña actual</mat-label>

      <input
        matInput
        type="password"
        formControlName="currentPassword"
      />

      @if (passwordForm.controls.currentPassword.hasError('required')) {
        <mat-error>
          La contraseña actual es obligatoria
        </mat-error>
      }
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Nueva contraseña</mat-label>

      <input
        matInput
        type="password"
        formControlName="newPassword"
      />

      @if (passwordForm.controls.newPassword.hasError('required')) {
        <mat-error>
          La nueva contraseña es obligatoria
        </mat-error>
      }

      @if (passwordForm.controls.newPassword.hasError('minlength')) {
        <mat-error>
          La contraseña debe tener al menos 6 caracteres
        </mat-error>
      }
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Repetir nueva contraseña</mat-label>

      <input
        matInput
        type="password"
        formControlName="confirmPassword"
      />

      @if (passwordForm.controls.confirmPassword.hasError('required')) {
        <mat-error>
          Repetir la contraseña es obligatorio
        </mat-error>
      }

      @if (passwordForm.controls.confirmPassword.hasError('passwordMismatch')) {
        <mat-error>
          Las contraseñas no coinciden
        </mat-error>
      }
    </mat-form-field>

  </form>

</mat-dialog-content>


<mat-dialog-actions align="end">

  <button
    mat-button
    type="button"
    (click)="cancel()"
  >
    Cancelar
  </button>

  <button
    mat-flat-button
    type="button"
    (click)="submit()"
  >
    Cambiar contraseña
  </button>

</mat-dialog-actions>